#nav {
	height: 735px;
	width: 200px;
	float: left;
}

#section {
	height: 735px;
	float: center;
	padding: 5px;
	margin: 5px;
	background-image: radial-gradient(#138AEF, #fefa5c);
}

#footer {
	font-family: 'Audiowide';
	clear: both;
	text-align: center;
	padding: 5px;
	margin: 5px;
	background-image: radial-gradient(#138AEF, #fefa5c);
}

img {
	width: 150px;
	align: left;
	padding: 10px;
}

button {
	width: 150px;
	margin: 10px;
	align: left;
	background: #fefa5c;
	padding: 10px;
}

button:active {
	background: #fefa5c;
}

/* unvisited link */
a:link {
	color: black;
}

/* visited link */
a:visited {
	color: black;
}

/* mouse over link */
a:hover {
	color: #fefa5c;
}

/* selected link */
a:active {
	color: #138AEF;
}